# Copier ce fichier en ".env" et remplir la vraie valeur
# Ne JAMAIS pousser le fichier ".env" (avec le vrai token) sur GitHub

# Token obtenu sur https://numerique.sncf.com/startup/api/
SNCF_API_TOKEN=colle_ton_token_ici

PORT=3000
